@{
    ViewBag.Title = "Dashboard";
}

<div class="large-12 hide-for-small-only clearfix text-center align-middle columns topBar">
	<img src=~/assets/logo/Logo_blanc.svg width="260px" class="float-left">
	<div class="float-right textVerticalAlign capitalize textWhite">déneigement gingras inc.</div>
</div>
<div class="large-12 hide-for-large hide-for-medium clearfix text-center align-middle columns topBar">
	<img src=~/assets/logo/Logo_blanc.svg width="260px" class="float-center">
	<div class="float-center textVerticalAlign capitalize textWhite pb3">déneigement gingras inc.</div>
</div>


<div class="pl0">
	<div class="medium-2 pl0 pr0 columns hide-for-small-only">
		<ul class="sideNav side-nav">
			<li class="text-center mb3"><a href="#" class="mt3 whiteBtn button round2 textBtn fs16">Message rapide</a></li>
			<div class="menuPadding">
				<li class="active uppercase mb3 pl2"><img src=~/assets/icons/iconeAccueil.svg width="20px"><a href="accueil.html"><span class="pl1 textActive fw7">Accueil</span></a></li><br>
				<li class="uppercase mb3 pl2"><a href="#"><img src=~/assets/icons/iconeMessage.svg width="20px"><span class="pl1 textWhite fw7">Messages</span></a></li><br>
				<li class="uppercase mb3 pl2"><a href="#"><img src=~/assets/icons/iconeModifier.svg width="25px"><span class="pl1 textWhite fw7">Paramètres</span></a></li><br>
				<li class="uppercase mb3 pl2"><a href="#"><img src=~/assets/icons/iconeSupport.svg width="20px"><span class="pl1 textWhite fw7">Support</span></a></li>
			</div>
			<div class="bottomNav text-center">
				<li class="mt3 textWhite text-center"><a href="#" class="textWhite">Vous désirez avoir<br>plus de fonctionnalités?</a></li>
				<li class="text-center"><a href="#" class="mt3 whiteBtn button round2 textBtn fs16">Modifiez votre plan</a></li>
			</div>
		</ul>
	</div>





	<div class="medium-8 pl0 pr0 relative columns">
		<div class="seniorMeteo">
			<div class="large-12 pt2 pb2">
				<span class="large-4 pl2 columns"><span class="uppercase textWhite fw7 fs16">météo du jour</span></span>
				<span class="large-4 text-center textWhite fs16 columns"><span class="uppercase span_4">JEUDI 16 MARS 2017</span></span>
				<span class="large-4 text-right pr2 columns"><img src=~/assets/icons/iconeModifier.svg width="25px"></span>
			</div>
			<p class="textWhite text-center fw7 uppercase"></p>

			<p class="textWhite text-center uppercase mt3 fw7">Québec <span class="fw3">10:00am</span></p>
			<p class="textWhite text-center fw7 fs72">-18&#8451;</p>
			<p class="textWhite text-center fw7 fs24">-24&#8451;</p>
			<p class="textWhite text-center fw7 fs16 uppercase">nuageux - 10% neige</p>
		</div>
		<div class="weatherNav text-center">
			<div class="pl2 pt1 pr2">

				<div class="small-1 columns">
					<span class="fw3 fs14 uppercase">mercredi</span><br>
					<span class="fw7 fs16 uppercase">-10&#8451; / -20&#8451;</span><br>
					<span class=""><img src=~/assets/icons/cloud.svg width="20px"></span><br>
					<span class="fw3 fs12 uppercase">90%</span>
				</div>

				<div class="small-1 columns">
					<span class="fw3 fs14 uppercase">jeudi</span><br>
					<span class="fw7 fs16 uppercase">-10&#8451; / -20&#8451;</span><br>
					<span class=""><img src=~/assets/icons/cloud.svg width="20px"></span><br>
					<span class="fw3 fs12 uppercase">90%</span>
				</div>

				<div class="small-1 columns">
					<span class="fw3 fs14 uppercase">vendredi</span><br>
					<span class="fw7 fs16 uppercase">-10&#8451; / -20&#8451;</span><br>
					<span class=""><img src=~/assets/icons/cloud.svg width="20px"></span><br>
					<span class="fw3 fs12 uppercase">90%</span>
				</div>

				<div class="small-1 columns">
					<span class="fw3 fs14 uppercase">samedi</span><br>
					<span class="fw7 fs16 uppercase">-10&#8451; / -20&#8451;</span><br>
					<span class=""><img src=~/assets/icons/cloud.svg width="20px"></span><br>
					<span class="fw3 fs12 uppercase">90%</span>
				</div>

				<div class="small-1 columns">
					<span class="fw3 fs14 uppercase">dimanche</span><br>
					<span class="fw7 fs16 uppercase">-10&#8451; / -20&#8451;</span><br>
					<span class=""><img src=~/assets/icons/cloud.svg width="20px"></span><br>
					<span class="fw3 fs12 uppercase">90%</span>
				</div>

				<div class="small-1 columns">
					<div class="hr mt1 float-center"></div>
				</div>

				<div class="small-1 columns">
					<span class="fw3 fs14 uppercase">lundi</span><br>
					<span class="fw7 fs16 uppercase">-10&#8451; / -20&#8451;</span><br>
					<span class=""><img src=~/assets/icons/cloud.svg width="20px"></span><br>
					<span class="fw3 fs12 uppercase">90%</span>
				</div>

				<div class="small-1 columns">
					<span class="fw3 fs14 uppercase">mardi</span><br>
					<span class="fw7 fs16 uppercase">-10&#8451; / -20&#8451;</span><br>
					<span class=""><img src=~/assets/icons/cloud.svg width="20px"></span><br>
					<span class="fw3 fs12 uppercase">90%</span>
				</div>

				<div class="small-1 columns">
					<span class="fw3 fs14 uppercase">mercredi</span><br>
					<span class="fw7 fs16 uppercase">-10&#8451; / -20&#8451;</span><br>
					<span class=""><img src=~/assets/icons/cloud.svg width="20px"></span><br>
					<span class="fw3 fs12 uppercase">90%</span>
				</div>

				<div class="small-1 columns">
					<span class="fw3 fs14 uppercase">jeudi</span><br>
					<span class="fw7 fs16 uppercase">-10&#8451; / -20&#8451;</span><br>
					<span class=""><img src=~/assets/icons/cloud.svg width="20px"></span><br>
					<span class="fw3 fs12 uppercase">90%</span>
				</div>

				<div class="small-1 columns">
					<span class="fw3 fs14 uppercase">vendredi</span><br>
					<span class="fw7 fs16 uppercase">-10&#8451; / -20&#8451;</span><br>
					<span class=""><img src=~/assets/icons/cloud.svg width="20px"></span><br>
					<span class="fw3 fs12 uppercase">90%</span>
				</div>

				<div class="small-1 columns">
					<span class="fw3 fs14 uppercase">samedi</span><br>
					<span class="fw7 fs16 uppercase">-10&#8451; / -20&#8451;</span><br>
					<span class=""><img src=~/assets/icons/cloud.svg width="20px"></span><br>
					<span class="fw3 fs12 uppercase">90%</span>
				</div>





			</div>

		</div>
		<div class="pl2">
			<div class="small-6 columns">
				<div class="pt2">
					<div class="small-12">
						<p class="uppercase fw7 fs24">vos messages</p>
						<p class="fw4 textGreyBlue fs14">Votre plan comporte 2500 messages par mois</p>
					</div>
				</div>
				<div class="row pl1 pt1 pr2">
					<div class="small-12">
						<p class="uppercase fw9 fs24 textBlue">134 <span class="uppercase fw4 textGreyBlue fs12">messages envoyés ce mois-ci</span></p>
						<p class="fw3 fs14">Votre plan comporte 2500 messages par mois</p>
					</div>
					<div class="progress" role="progressbar" tabindex="0" aria-valuenow="50" aria-valuemin="0" aria-valuetext="50 percent" aria-valuemax="100">
						<div class="progress-meter" style="width: 15%"><p class="progress-meter-text">15%</p></div>
					</div>
				</div>

				<div class="row pl1 pt2">
					<div class="small-12">
						<p class="fw7 fs16">Vous désirez pouvoir envoyer plus de message? <span class="fw7 textBlue pl1 fs16"> Modifiez votre plan</span></p>
					</div>
				</div>

				<div class="row pl1 pt2">
					<div class="small-12">
						<p class="uppercase fw7 fs24">clients abonnés</p>
						<p class="fw3 textGreyBlue fs14">Décompte des clients abonnés à vos listes de notification</p>
						<div class="small-12">
							<p class="uppercase fw9 fs24 textBlue">250 <span class="uppercase fw4 textGreyBlue fs12">clients abonnés</span></p>
						</div>
					</div>
				</div>
			</div>
			<div class="small-6 columns">
				<div class="row pl1 pt2">
					<div class="small-12">
						<p class="uppercase fw7 fs24">support</p>
						<p class="fw4 textGreyBlue fs14">Écrivez-nous un message ou téléphonez-nous au <span class="textBlue"><a href="tel:15817007665">(581) 700-7665</a></span></p>
					</div>
				</div>
				<form>
					<div class="pt2">
						<div class="medium-11 columns">
							<label>
								<textarea rows="9" placeholder="Tapez votre message ici..."></textarea>
							</label>
						</div>
					</div>
					<br>
					<a href="#" class="button round mt2 ml1">Envoyer</a>
				</form>


			</div>
		</div>
	</div>


	<div class="medium-2 pt2 communiques pl1 columns">
		<h4 class="uppercase fw7 fs16">communiqués</h4><br>

		<div class="row">
			<span class="small-3 columns pt1"><img src=~/assets/icons/iconeCommunique.svg width="70px"></span>
			<span class="small-9 pl0 columns"><span class="fw3 fs14">17 avril 2017</span><br><span class="fw7 fs16 uppercase">découvrez neige.tech</span><br><a data-open="news"><span class="fw4 textBlue fs14">En savoir plus</span></a></span>
		</div>

		<!-- This is the reveal -->
		<div class="reveal" id="news" data-reveal>
			<h5 class="modalBG text-center"><img class="pt1" src=~/assets/icons/iconeCommunique.svg width="100px"><br><span class="uppercase fw7">découvrez neige.tech</span><br><span class="fw3 fs12 pb1">17 avril 2017</span></h5>
			<br>
			<p class="fw7 fs14 uppercase pl2">bienvenue dans neige.tech</p>
			<p class="fw7 fs12 pr2 pl2">
				Descriptions de la nouvelles fonctionnalité de l’application Flocon. Petit texte qui explique ou
				trouver la nouvelle fonction et comme l’activer.<br><br>
				Descriptions de la nouvelles fonctionnalité de l’application Flocon. Petit texte qui explique ou
				trouver la nouvelle fonction et comme l’activer.<br><br>
				Descriptions de la nouvelles fonctionnalité de l’application Flocon. Petit texte qui explique ou
				trouver la nouvelle fonction et comme l’activer.<br><br>
				Descriptions de la nouvelles fonctionnalité de l’application Flocon. Petit texte qui explique ou
				trouver la nouvelle fonction et comme l’activer.<br><br>
			</p>

			<p class="fw7 fs14 uppercase pl2 mb2">comment nous contacter</p>
			<p class="fw7 fs12 pr2 pl2">
				Descriptions de la nouvelles fonctionnalité de l’application Flocon. Petit texte qui explique ou
				trouver la nouvelle fonction et comme l’activer.<br><br>
				Descriptions de la nouvelles fonctionnalité de l’application Flocon. Petit texte qui explique ou
				trouver la nouvelle fonction et comme l’activer.<br><br>
			</p>
			<br>
			<button class="close-button" data-close aria-label="Close reveal" type="button">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>

		<br>
		<div class="row">
			<span class="small-3 columns pt1"><img src=~/assets/icons/iconeCommunique.svg width="70px"></span>
			<span class="small-9 pl0 columns"><span class="fw3 fs14">16 avril 2017</span><br><span class="fw7 fs16 uppercase">découvrez neige.tech</span><br><a data-open="news2"><span class="fw4 textBlue fs14">En savoir plus</span></a></span>
		</div>
		<br>

		<!-- This is the reveal -->
		<div class="reveal" id="news2" data-reveal>
			<h5 class="modalBG text-center"><img class="pt1" src=~/assets/icons/iconeCommunique.svg width="100px"><br><span class="uppercase fw7">découvrez neige.tech</span><br><span class="fw3 fs12 pb1">16 avril 2017</span></h5>
			<br>
			<p class="fw7 fs14 uppercase pl2">bienvenue dans neige.tech</p>
			<p class="fw7 fs12 pr2 pl2">
				Descriptions de la nouvelles fonctionnalité de l’application Flocon. Petit texte qui explique ou
				trouver la nouvelle fonction et comme l’activer.<br><br>
				Descriptions de la nouvelles fonctionnalité de l’application Flocon. Petit texte qui explique ou
				trouver la nouvelle fonction et comme l’activer.<br><br>
				Descriptions de la nouvelles fonctionnalité de l’application Flocon. Petit texte qui explique ou
				trouver la nouvelle fonction et comme l’activer.<br><br>
				Descriptions de la nouvelles fonctionnalité de l’application Flocon. Petit texte qui explique ou
				trouver la nouvelle fonction et comme l’activer.<br><br>
			</p>

			<p class="fw7 fs14 uppercase pl2 mb2">comment nous contacter</p>
			<p class="fw7 fs12 pr2 pl2">
				Descriptions de la nouvelles fonctionnalité de l’application Flocon. Petit texte qui explique ou
				trouver la nouvelle fonction et comme l’activer.<br><br>
				Descriptions de la nouvelles fonctionnalité de l’application Flocon. Petit texte qui explique ou
				trouver la nouvelle fonction et comme l’activer.<br><br>
			</p>
			<br>
			<button class="close-button" data-close aria-label="Close reveal" type="button">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>


		<div class="row">
			<span class="small-3 columns pt1"><img src=~/assets/icons/iconeCommunique.svg width="70px"></span>
			<span class="small-9 pl0 columns"><span class="fw3 fs14">15 avril 2017</span><br><span class="fw7 fs16 uppercase">découvrez neige.tech</span><br><a data-open="news3"><span class="fw4 textBlue fs14">En savoir plus</span></a></span>
		</div>
		<br>
		<!-- This is the reveal -->
		<div class="reveal" id="news3" data-reveal>
			<h5 class="modalBG text-center"><img class="pt1" src=~/assets/icons/iconeCommunique.svg width="100px"><br><span class="uppercase fw7">découvrez neige.tech</span><br><span class="fw3 fs12 pb1">15 avril 2017</span></h5>
			<br>
			<p class="fw7 fs14 uppercase pl2">bienvenue dans neige.tech</p>
			<p class="fw7 fs12 pr2 pl2">
				Descriptions de la nouvelles fonctionnalité de l’application Flocon. Petit texte qui explique ou
				trouver la nouvelle fonction et comme l’activer.<br><br>
				Descriptions de la nouvelles fonctionnalité de l’application Flocon. Petit texte qui explique ou
				trouver la nouvelle fonction et comme l’activer.<br><br>
				Descriptions de la nouvelles fonctionnalité de l’application Flocon. Petit texte qui explique ou
				trouver la nouvelle fonction et comme l’activer.<br><br>
				Descriptions de la nouvelles fonctionnalité de l’application Flocon. Petit texte qui explique ou
				trouver la nouvelle fonction et comme l’activer.<br><br>
			</p>

			<p class="fw7 fs14 uppercase pl2 mb2">comment nous contacter</p>
			<p class="fw7 fs12 pr2 pl2">
				Descriptions de la nouvelles fonctionnalité de l’application Flocon. Petit texte qui explique ou
				trouver la nouvelle fonction et comme l’activer.<br><br>
				Descriptions de la nouvelles fonctionnalité de l’application Flocon. Petit texte qui explique ou
				trouver la nouvelle fonction et comme l’activer.<br><br>
			</p>
			<br>
			<button class="close-button" data-close aria-label="Close reveal" type="button">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>


		<div class="row">
			<span class="small-3 columns pt1"><img src=~/assets/icons/iconeCommunique.svg width="70px"></span>
			<span class="small-9 pl0 columns"><span class="fw3 fs14">14 avril 2017</span><br><span class="fw7 fs16 uppercase">découvrez neige.tech</span><br><a data-open="news4"><span class="fw4 textBlue fs14">En savoir plus</span></a></span>
		</div>
		<!-- This is the reveal -->
		<div class="reveal" id="news4" data-reveal>
			<h5 class="modalBG text-center"><img class="pt1" src=~/assets/icons/iconeCommunique.svg width="100px"><br><span class="uppercase fw7">découvrez neige.tech</span><br><span class="fw3 fs12 pb1">14 avril 2017</span></h5>
			<br>
			<p class="fw7 fs14 uppercase pl2">bienvenue dans neige.tech</p>
			<p class="fw7 fs12 pr2 pl2">
				Descriptions de la nouvelles fonctionnalité de l’application Flocon. Petit texte qui explique ou
				trouver la nouvelle fonction et comme l’activer.<br><br>
				Descriptions de la nouvelles fonctionnalité de l’application Flocon. Petit texte qui explique ou
				trouver la nouvelle fonction et comme l’activer.<br><br>
				Descriptions de la nouvelles fonctionnalité de l’application Flocon. Petit texte qui explique ou
				trouver la nouvelle fonction et comme l’activer.<br><br>
				Descriptions de la nouvelles fonctionnalité de l’application Flocon. Petit texte qui explique ou
				trouver la nouvelle fonction et comme l’activer.<br><br>
			</p>

			<p class="fw7 fs14 uppercase pl2 mb2">comment nous contacter</p>
			<p class="fw7 fs12 pr2 pl2">
				Descriptions de la nouvelles fonctionnalité de l’application Flocon. Petit texte qui explique ou
				trouver la nouvelle fonction et comme l’activer.<br><br>
				Descriptions de la nouvelles fonctionnalité de l’application Flocon. Petit texte qui explique ou
				trouver la nouvelle fonction et comme l’activer.<br><br>
			</p>
			<br>
			<button class="close-button" data-close aria-label="Close reveal" type="button">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>

	</div>







</div>
